.section_container{
    display: grid;
    grid-template-columns: 5fr 4fr 0px;
    gap: 15px;
    margin-left: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}

table td{
    font-weight: 700;
}

hr{
    width: 100%;
}

